$couleurBlanc: #ffffff;
$couleurGris: #F2F2F2;
$couleurGrisFonce: #bebebe;
$couleur1: #FF79DA;
$couleur1Claire: #faabe3;
$couleur2: #9356DC;
$couleur3: #99E2D0;
$couleurBoutton: linear-gradient(170deg, $couleur1, $couleur2);
$couleurBouttonHover: linear-gradient(170deg, $couleur1Claire, $couleur2);
$font1: 'Roboto', sans-serif;
$font2: 'Shrikhand', cursive;
$bodyMargin: 2em;
$petitMargin: 0.5em;
$standareMargin: 1em;
$grandMargin: 1.5em;
$widthSmallBloc: 100px;
$delay:0.1;
